.input[type="buttom"]:hover{
      background-color: #f1f1f1;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
      border: solid #bbb 2px; 
      width:100% ;
    }
    .a{
      height:17px;
      background-color: rgb(75, 161, 242);
      height: 135px;
      width: 30px;
      position: absolute;
      top: 12%;
    }
    .input[type="buttom"]:hover{
     display: flex;
     text-align: center;
     justify-content: center;
     justify-content: space-around;
    }
    input{
      margin-left: 9px;
      margin-right: 9px;
      margin-bottom: 9px;
    }
